.LogOutButton{
    margin-top: -9.5%;
    width: 0;
    
}

.outBut{
    position: absolute;
    border: 2px solid rgb(245, 102, 126);
    border-radius: 7px;
    background-color: transparent;
    margin-top: 0;
    height: 4.5vh;
    color: gray;
    font-weight: bolder;
}

.outBut:hover{
    color: rgb(83, 83, 83);
}