.LogOutButton{
    margin-top: -9.5%;
    
}

.outBut{
    position: absolute;
    text-align: left;
    border: 2px solid rgb(255, 208, 216);
    background-color: transparent;
    border-radius: 7px;
    margin-top: 0;
    padding: .5% 2%;
    font-weight: lighter;
    color: rgb(165, 165, 165);;
}

.outBut:hover{
    background-color: rgb(255, 208, 216);
  color: white;
}