.ReviewFormContainer{
    width: 34vw;
    height: 30vh;
}

.NameFormR{
    padding-right:1% ;
}

.inputNameForm{
    margin-left: 1%;
}

.inputProductNameForm{
    margin-left: 1%;
}

.inputcomentForm{
    margin-left: 1%;
    height: 10vh;
}

.SendReview{
    background-color: pink;
    border: none;
    padding: 2%;
    border-radius: 5px;
    margin-top: 8%;
    margin-left: 12%;
}

.SendReview:hover{
    background-color: rgb(233, 175, 184);
}