.contacto-Home{
    background-color: rgb(56, 56, 56); 
    padding-top: 1%;
    padding-bottom: 1%;
}

.contactoH4{
    color: white;
    text-align: left;
    margin-left: 1%;
    margin-bottom: 2%;
}

.contactoH6{
    color: white;
    text-align: left;
    margin-left: 1%;
    margin-bottom: 1%;
}

.contacto-Container{
    margin-left: 1%;
    margin-right: 90%;
    display: flex;
    justify-content: space-between;
}

.contacto-Container img{
    height: 3.5vh;

}