.nav3{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    margin-top: -0.1%;
    padding-top: .4%;
    padding-bottom: .4%;
    border-top: solid rgb(191, 191, 191) 1px;  
}

.link3 { 
    text-decoration: none; 
    color: rgb(125, 125, 125);
    font-weight: bold;
    padding: 20px 40px;
}

.link3:hover{
    color: rgb(103, 103, 103);
}

.link-P3{
    text-decoration: none; 
    color: rgb(125, 125, 125);
    font-weight: bold;
    padding: 20px 40px;
}

.link-P3:hover{
    color: rgb(103, 103, 103);
}

.flecha3{
    width: 8.3vw;
    position: absolute;
    margin-top: -1.7%;
    margin-left: 58.5%;
    padding-right: 1%;
    left: 0;
    right: 0;
    text-align: right;
}

.flecha3:hover{
    color: rgb(103, 103, 103);   
}

.link-P3 ul{
    height: 30vh;
    width: 15vw;
    
}

.All-Products3{
    position: absolute;
    background-color: rgb(246, 246, 246);
    list-style: none;
    margin-left: 54%;
    margin-right: auto;
    text-align: left;
    left: 0;
    right: 0;
    top:27%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    padding-bottom: 1%;
}

.link-P3:hover .All-Products3{
        opacity: 1;
        visibility: visible;
}

.All-Products3 li{
    margin-bottom: 5%;
    margin-top: 5%;
}

.navLinkAnimales3{
    color: rgb(125, 125, 125);
    text-decoration: none;
    padding: 2% 0%;
    padding-right: 66%;
    padding-left: 4%;
    margin-left: -16%;
}

.navLinkAnimales3:hover{
    color: rgb(103, 103, 103);;
}

.navLinkBizcocho3{
    color: rgb(125, 125, 125);
    text-decoration: none;
    padding: 2% 0;
    padding-right: 17.5%;
    padding-left: 4%;
    margin-left: -16%;
}

.navLinkBizcocho3:hover{
    color: rgb(103, 103, 103);;
}

.navLinkCemento3{
    color: rgb(125, 125, 125);
    text-decoration: none;
    padding: 2% 0;
    padding-right: 67%;
    padding-left: 4%;
    margin-left: -16%;
}

.navLinkCemento3:hover{
    color: rgb(103, 103, 103);;
}

.navLinkColgante3{
    color: rgb(125, 125, 125);
    text-decoration: none;
    padding: 2% 0;
    padding-right: 63%;
    padding-left: 4%;
    margin-left: -16%;
}

.navLinkColgante3:hover{
    color: rgb(103, 103, 103);
}

.navLinkFridas3{
    color: rgb(125, 125, 125);
    text-decoration: none;
    padding: 2% 0;
    padding-right: 42%;
    padding-left: 4%;
    margin-left: -16%;
}

.navLinkFridas3:hover{
    color: rgb(103, 103, 103);
}

.navLinkOtros3{
    color: rgb(125, 125, 125);
    text-decoration: none;
    padding: 2% 0;
    padding-right: 85%;
    padding-left: 4%;
    margin-left: -16%;
}

.navLinkOtros3:hover{
    color: rgb(103, 103, 103);
}