.LogInButton{
  margin-top: .5%;
}

.LogInButton button{
    position: absolute;
    border: 2px solid rgb(245, 102, 126);
    border-radius: 7px;
    background-color: transparent;
    margin-top: 0;
    height: 4.5vh;
}

.inButt{
    background-color: transparent;
    border: none;
    font-weight: bolder;
    color: gray;
}

.inBut:hover{
  color: rgb(83, 83, 83);
}