.ButtonUsersContainer{
    position: absolute;
    margin-left: 1%;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: left;
}

.ButtonUsersContainer img{
    margin-top: 0.5%;
    width: 1.5vw;
}